h1,
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.5em;
}

p{
  font-size: 18px;
}

.text-section{
  width: 60%;
  margin: auto;
}

.video-section{
  width: 60%;
  margin: auto;
}

.video-container {
  width: 300px;
  position: relative;
}

video {
  width: 300px;
}

#play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

#play-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  border-style: solid;
  border-width: 20px 0 20px 30px;
  border-color: transparent transparent transparent #000;
}
